.p-60 {
    width: 60%;
}

.p-40 {
    width: 40%;
}

.p-100 {
    width: 100%;
}

.p-50 {
    width: 50%;
}

.p-20 {
    width: 20%;
}

.p-80 {
    width: 80%;
}

.card_content {
    margin-bottom: 10%;
}

.card_title {
    margin-top: 5rem;
}

.card_date {
    margin-bottom: 2rem;
}

.title {
    background-color: lightgrey;
}

.direction {
    margin-bottom: 5%;
}